### --- Day 2: Password Philosophy ---

Your flight departs in a few days from the coastal airport; the easiest way down to the coast from here is via toboggan.

The shopkeeper at the North Pole Toboggan Rental Shop is having a bad day. "Something's wrong with our computers; we can't log in!" You ask if you can take a look.

Their password database seems to be a little corrupted: some of the passwords wouldn't have been allowed by the Official Toboggan Corporate Policy that was in effect when they were chosen.

To try to debug the problem, they have created a list (your puzzle input) of passwords (according to the corrupted database) and the corporate policy when that password was set.

For example, suppose you have the following list:

1-3 a: abcde

1-3 b: cdefg

2-9 c: ccccccccc

Each line gives the password policy and then the password. The password policy indicates the lowest and highest number of times a given letter must appear for the password to be valid. For example, 1-3 a means that the password must contain a at least 1 time and at most 3 times.

In the above example, 2 passwords are valid. The middle password, cdefg, is not; it contains no instances of b, but needs at least 1. The first and third passwords are valid: they contain one a or nine c, both within the limits of their respective policies.

#### How many passwords are valid according to their policies?

In [111]:
import pandas as pd
from collections import Counter

In [118]:
df = pd.read_csv("input02.csv", header=None)
df

                               0
0        2-8 t: pncmjxlvckfbtrjh
1              8-9 l: lzllllldsl
2      3-11 c: ccchcccccclxnkcmc
3             3-10 h: xcvxkdqshh
4                   4-5 s: gssss
..                           ...
995          4-10 c: cccjncjsccr
996  10-18 h: xkswshrhghxlnmhqzr
997  5-18 k: kkkkkkkhkkkklkkkknk
998           9-10 t: ttttttttnt
999         10-11 x: xxxxxxxxxcv

[1000 rows x 1 columns]

In [119]:
# clean and turn into nice dataframe
df[['range', 'letter', 'p_word']] = df[0].str.split(expand=True)
df[['lmin', 'lmax']] = df.range.str.split("-", expand=True).astype(int)
df['letter'] = df.letter.str.strip(':')
df1 = df[['range', 'letter', 'p_word', 'lmin', 'lmax']]
df1

     range letter               p_word  lmin  lmax
0      2-8      t     pncmjxlvckfbtrjh     2     8
1      8-9      l           lzllllldsl     8     9
2     3-11      c    ccchcccccclxnkcmc     3    11
3     3-10      h           xcvxkdqshh     3    10
4      4-5      s                gssss     4     5
..     ...    ...                  ...   ...   ...
995   4-10      c          cccjncjsccr     4    10
996  10-18      h   xkswshrhghxlnmhqzr    10    18
997   5-18      k  kkkkkkkhkkkklkkkknk     5    18
998   9-10      t           ttttttttnt     9    10
999  10-11      x          xxxxxxxxxcv    10    11

[1000 rows x 5 columns]

In [116]:
count_valid = 0

for i in range(len(df1)):
    c = Counter()
    c.update(df1['p_word'][i])
    if c[df1['letter'][i]] in range(df1['lmin'][i], df1['lmax'][i]+1):
        count_valid += 1
                                                                            
print("The number of valid passwords is: ", count_valid)

The number of valid passwords is:  666

### --- Part Two ---

While it appears you validated the passwords correctly, they don't seem to be what the Official Toboggan Corporate Authentication System is expecting.

The shopkeeper suddenly realizes that he just accidentally explained the password policy rules from his old job at the sled rental place down the street! The Official Toboggan Corporate Policy actually works a little differently.

Each policy actually describes two positions in the password, where 1 means the first character, 2 means the second character, and so on. (Be careful; Toboggan Corporate Policies have no concept of "index zero"!) Exactly one of these positions must contain the given letter. Other occurrences of the letter are irrelevant for the purposes of policy enforcement.

Given the same example list from above:

    1-3 a: abcde is valid: position 1 contains a and position 3 does not.
    1-3 b: cdefg is invalid: neither position 1 nor position 3 contains b.
    2-9 c: ccccccccc is invalid: both position 2 and position 9 contain c.

#### How many passwords are valid according to the new interpretation of the policies?

In [140]:
count_valid_2 = 0

for i in range(len(df1)):
    if df1['letter'][i] == df1['p_word'][i][(df1['lmin'][i]-1)]:
        pos1 = 1
    else:
        pos1 = 0
    if df1['letter'][i] == df1['p_word'][i][(df1['lmax'][i]-1)]:
        pos2 = 1
    else:
        pos2 = 0
    if pos1 + pos2 == 1:
        count_valid_2 += 1
        
print("The number of valid passwords is now: ", count_valid_2)

The number of valid passwords is now:  670